.body {
  color: 'black';
}

.app-header {
  padding: 0 30px;
  background: #fee099 url('https://halogo.jx-staging.halogo.hakt.com.au/content/images/header-bg.png') no-repeat left center;
  background-size: cover;
}

.content {
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.footer {
  background: #f0ece7;
  padding: 30px;
}

.brand-logo img {
  width: auto;
  height: 30px;
  margin: 15px 0;
}

